<header class="delivery block">
    <div class="container">
      <h3 class="delivery__subtitle">
        3 Easy Steps To Get Home-Delivary
      </h3>
      <h2 class="delivery__title title">
        For Home Delivery
      </h2>
      <div class="delivery__wrap">
        <div class="delivery__item">
          <h4 class="delivery__name">
            Select a Dish
          </h4>
          <p class="delivery__text">
            Internet tend to repeat predefined chunks as necessary, making this the first true on the Internet.
          </p>
        </div>
        <div class="delivery__item">
          <h4 class="delivery__name">
            Online Payment
          </h4>
          <p class="delivery__text">
            Internet tend to repeat predefined chunks as necessary, making this the first true on the Internet.
          </p>
        </div>
        <div class="delivery__item">
          <h4 class="delivery__name">
            Recevied Delivary
          </h4>
          <p class="delivery__text">
            Internet tend to repeat predefined chunks as necessary, making this the first true on the Internet.
          </p>
        </div>
      </div>
    </div>
</header>