<section class="team block">
    <div class="container">
        <h3 class="team__subtitle">
            We have awesome team
          </h3>
          <h2 class="team__title title">
            Our Stuff
          </h2>
          <div class="team__slider">
            <div class="team__item">
                <div class="team__img">
                    <img src="../img/team/Porter.png" alt="Porter">
                    <div class="team__overlay">
                        <a href="../img/team/Porter.png" data-lightbox="img-1" class="team__ellipse">
                            <i class="fas fa-search-plus"></i>
                        </a>
                        <a href="#" class="team__ellipse">
                            <i class="fas fa-link"></i>
                        </a>
                    </div>
                </div>
                <h6 class="team__name">
                    Morgan M. Porter
                </h6>
                <p class="team__position">
                    Head Chef
                </p>
                <div class="team__contact">
                    <span>Follow:</span>
                    <a href="#" class="team__link">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="#" class="team__link">
                        <i class="fab fa-twitter-square"></i>
                    </a>
                    <a href="#" class="team__link">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="#" class="team__link">
                        <i class="fab fa-google-plus-square"></i>
                    </a>
                    <a href="#" class="team__link">
                        <i class="fab fa-pinterest-square"></i>
                    </a>
                </div>
            </div>
            <div class="team__item">
                <div class="team__img">
                    <img src="../img/team/wright.png" alt="Wright">
                    <div class="team__overlay">
                        <a href="../img/team/wright.png" data-lightbox="img-2" class="team__ellipse">
                            <i class="fas fa-search-plus"></i>
                        </a>
                        <a href="#" class="team__ellipse">
                            <i class="fas fa-link"></i>
                        </a>
                    </div>
                </div>
                <h6 class="team__name">
                    Katherine G. Wright
                </h6>
                <p class="team__position">
                    Assistant Chef
                </p>
                <div class="team__contact">
                    <span>Follow:</span>
                    <a href="#" class="team__link">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="#" class="team__link">
                        <i class="fab fa-twitter-square"></i>
                    </a>
                    <a href="#" class="team__link">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="#" class="team__link">
                        <i class="fab fa-google-plus-square"></i>
                    </a>
                    <a href="#" class="team__link">
                        <i class="fab fa-pinterest-square"></i>
                    </a>
                </div>
            </div>
            <div class="team__item">
                <div class="team__img">
                    <img src="../img/team/Smit.png" alt="Smit">
                    <div class="team__overlay">
                        <a href="../img/team/Smit.png" data-lightbox="img-3" class="team__ellipse">
                            <i class="fas fa-search-plus"></i>
                        </a>
                        <a href="#" class="team__ellipse">
                            <i class="fas fa-link"></i>
                        </a>
                    </div>
                </div>
                <h6 class="team__name">
                    Morgan M. Smit
                </h6>
                <p class="team__position">
                    Chef & Founder
                </p>
                <div class="team__contact">
                    <span>Follow:</span>
                    <a href="#" class="team__link">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="#" class="team__link">
                        <i class="fab fa-twitter-square"></i>
                    </a>
                    <a href="#" class="team__link">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="#" class="team__link">
                        <i class="fab fa-google-plus-square"></i>
                    </a>
                    <a href="#" class="team__link">
                        <i class="fab fa-pinterest-square"></i>
                    </a>
                </div>
            </div>
            <div class="team__item">
                <div class="team__img">
                    <img src="../img/team/Porter-2.png" alt="Porter">
                    <div class="team__overlay">
                        <a href="../img/team/Porter-2.png" data-lightbox="img-4" class="team__ellipse">
                            <i class="fas fa-search-plus"></i>
                        </a>
                        <a href="#" class="team__ellipse">
                            <i class="fas fa-link"></i>
                        </a>
                    </div>
                </div>
                <h6 class="team__name">
                    Morgan M. Porter
                </h6>
                <p class="team__position">
                    Head Chef
                </p>
                <div class="team__contact">
                    <span>Follow:</span>
                    <a href="#" class="team__link">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="#" class="team__link">
                        <i class="fab fa-twitter-square"></i>
                    </a>
                    <a href="#" class="team__link">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="#" class="team__link">
                        <i class="fab fa-google-plus-square"></i>
                    </a>
                    <a href="#" class="team__link">
                        <i class="fab fa-pinterest-square"></i>
                    </a>
                </div>
            </div>
          </div>
    </div>
</section>