.about {
  background: url(../img/about/cook.png) no-repeat bottom left calc(50% + 540px);
  &__wrap {
    width: 800px;
  }

  &__subtitle {
    color: #ff3a2d;
    margin-bottom: 5px;
  }

  &__title {
    text-align: left;
    position: relative;
    margin-bottom: 55px;
    font-weight: 500;

    &:after {
      content: '';
      background: url(../img/about/blue-line.png)no-repeat center center / contain;
      position: absolute;
      display: block;
      width: 210px;
      height: 25px;
      bottom: -20px;
      left: 0;
    }
  }

  &__content {
    margin-bottom: 40px;
  }
}

.question {
  padding-left: 15px;

  &__box {
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &.is-active {
      .question {
          &__title {
            position: relative;
              color: #00c5d2;
              & i {
                &::before {
                  transform: rotate(180deg);
                }
              }
              &::after {
                  opacity: 0;
                  visibility: hidden;
              }
          }

          // &__text {
          //     display: block;
          // }
      }
  }
  }

  &__title {
    font-size: 16px;
    color: #222222;
    font-weight: 500;
    position: relative;

    & i {
      margin-left: 70px;
      transition: .3s ease;
      width: 16px;
      height: 16px;
      transform: translateY(-50%);
      position: absolute;
      top: 50%;

      &::before {
        display: block;
        transition: .3s ease;
        transform: rotate(0deg);
      }
    }
  }

  &__text {
    padding-left: 20px;
    display: none;
  }
}


@media (max-width: 1200px) {
  .about {
    margin-bottom: 0;
    background: url(../img/about/cook.png) no-repeat bottom left calc(50% + 400px);
    &__wrap {
      width: 700px;
    }
  }
}

@media (max-width: 1023px) {
  .about {
    background: none;
    &__wrap {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .about {
    &__title {
      text-align: center;
      &:after {
        background: url(../img/global/blue-line.png)no-repeat center center / contain;
        left: calc(50% - 105px);
      }
    }
    &__subtitle {
      text-align: center;
    }
  }
  .question {
    &__title i {
      margin-left: 30px;
    }
  }
}

@media (max-width: 640px) {
  .about {
    &__title {
      margin-bottom: 35px;
    }
  }

  .question {
    margin: 30px 0 0 10px;

    &__title {
      font-size: 15px;
    }
  }
}

@media (max-width: 480px) {
  .question {
    margin: 20px 0 0 10px;

    &__title i {
      margin-left: 20px;
    }
    &__title {
      font-size: 14px;
    }
    &__text {
      margin-left: 10px;
    }
  }
}