.about {
  background: url(../img/about/cook.png) no-repeat bottom left calc(50% + 540px);
  &__wrap {
    width: 800px;
  }

  &__subtitle {
    color: #ff3a2d;
    margin-bottom: 5px;
  }

  &__title {
    text-align: left;
    position: relative;
    margin-bottom: 55px;
    font-weight: 500;

    &:after {
      content: '';
      background: url(../img/about/blue-line.png)no-repeat center center / contain;
      position: absolute;
      display: block;
      width: 210px;
      height: 25px;
      bottom: -20px;
      left: 0;
    }
  }

  &__content {

  }

}

.question {
  margin: 40px 0 0 15px;

  &__box {
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &.is-active {
      .question {
          &__title {
            position: relative;
              color: #00c5d2;
              & i {
                position: absolute;
                transform: rotateZ(180deg) translateY(50%);
                top: 50%;
                transition: .3s ease;
              }
              &::after {
                  opacity: 0;
                  visibility: hidden;
              }
          }

          // &__text {
          //     display: block;
          // }
      }
  }
  }

  &__title {
    font-size: 16px;
    color: #222222;
    font-weight: 500;

    & i {
      margin-left: 70px;
    }
  }

  &__text {
    margin-left: 20px;
    display: none;
  }
}