<section class="letter block">
    <div class="container">
        <h2 class="letter__title title">
            Subscribe NewsLetter
        </h2>
        <div class="letter__wrap">
            <p class="letter__text">
                Injected humour, or randomised words which don't look evethe Internet tend to repeat predefined sure there isn't on the Internet tend to repeat predefined chunks chunks as necessary, making this the first true generator o.
            </p>
            <form action="#" class="letter__form">
                <input type="email" class="letter__input" placeholder="Email Address Here" name="email" required="">
                <button type="submit" class="letter__btn">
                    <i class="fas fa-paper-plane"></i> 
                </button>
            </form>
        </div>
    </div>
</section>