.book-table {
  margin-top: 55px;
  background: url(../../img/book-table/leaf.png)no-repeat left calc(50% + 540px) bottom;

  &__wrap {
    display: flex;
    justify-content: space-between;

  }

  &__box {
    width: 670px;
  }

  &__title {
    font-style: italic;
    text-align: left;
    font-size: 28px;
    margin-top: 15px;
    position: relative;
    line-height: 1.4em;
    font-weight: 700;

    &:after {
      content: '';
      background: url(../img/book-table/red-line.png)no-repeat center center / contain;
      position: absolute;
      display: block;
      width: 210px;
      height: 25px;
      bottom: -35px;
      left: 0;
    }
  }

  &__content {
    margin-top: 70px;
  }

  &__title span {
    font-size: 48px;
  }

  &__text {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 75px;
    }
  }

  &__signature {
    font-family: 'Sacramento', cursive;
    font-size: 16px;
    color: #000;
    text-align: center;
    width: 200px;

    & span {
      font-size: 28px;
    }
  }
}

.form {
  width: 370px;
  background: #ff3a2d;
  padding: 70px 0px;

  &__title {
    font-size: 24px;
    color: #fff;
    position: relative;

    &::before {
      content: '';
      background: url(../img/book-table/snow-icon.png)no-repeat center center / contain;
      position: absolute;
      top: 10px;
      left: 100px;
      width: 25px;
      height: 25px;
      display: block;
    }
    &::after {
      content: '';
      background: url(../img/book-table/snow-icon.png)no-repeat center center / contain;
      position: absolute;
      top: 10px;
      right: 100px;
      width: 25px;
      height: 25px;
      display: block;
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
  }

  &__input {
    width: 85%;
    padding: 10px 55px 10px 25px;
    margin-bottom: 20px;
    height: 40px;
  }

  &__btn {
    background-color: #11ebed;
    width: 85%;
    border-radius: 0;
    text-transform: inherit;
    padding: 10px 0;
    border: 2px solid #11ebed;
  }
}



@media (max-width: 1200px) {
  .book-table {
    margin-top: 40px;

    &__title span {
      font-size: 46px;
    }
    &__box {
      width: 525px;
    }
  }
}

@media (max-width: 1023px) {
  .book-table {
    margin-top: 20px;

    &__title span {
      font-size: 44px;
    }
    &__box {
      width: 50%;
    }
  }

  .form {
    width: 48%;
    max-width: 370px;
  }
}

@media (max-width: 767px) {
  .book-table {
    margin-top: 0;
    
    &__wrap {
      flex-direction: column;
      align-items: center;
    }
    &__title {
      text-align: center;
      &::after {
        background: url(../img/global/red-line.png)no-repeat center center / contain;
        left: calc(50% - 105px);
      }
    }
    &__title span {
      font-size: 42px;
    }
    &__box {
      width: 100%;
    }
    &__text {
      &:last-child {
        margin-bottom: 45px;
      }
    }
    &__signature {
      margin: 0 auto 25px;
    }
  }

  .form {
    width: 100%;
    padding: 50px 0px;
  }
   
}

@media (max-width: 639px) {
  .book-table {
    &__content {
      margin-top: 50px;
    }
    &__text {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 25px;
      }
    }
    &__signature {
      margin: 0 auto 15px;
    }
  }

  .form {
    padding: 30px 0px;

    &__title {
      margin-bottom: 0;
    }
    &__wrap {
      margin-top: 30px;
    }
  }
}

@media (max-width: 479px) {
  .form {
    &__input {
      width: 90%;
    }
    &__btn {
      width: 90%;
    }
    &__title {
      &::after {
        right: 70px;
      }
      &::before {
        left: 70px;
      }
    }
  }
}