<section class="book-table block">
    <div class="container">
        <div class="book-table__wrap">
            <div class="book-table__box">
                <h2 class="book-table__title title">
                    <span>Wellcome</span> <br> To Our Resturant
                </h2>
                <div class="book-table__content">
                    <p class="book-table__text">
                        There are many variations of passages of Loretend to repeat predefined chunks as youm IInjected humour, or randomised words which don't look even slightly believable. If psum available, but the majority have suffered alteration in some form. 
                    </p>
                    <p class="book-table__text">
                        Injected humour, or randomised words which don't look evethe Internet tend to repeat predefined chunks as necessary, making this the first n slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't tend to repeat predefined chunks as youon the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                    </p>
                </div>
                <p class="book-table__signature">
                    <span>Matthew T. Sloan</span> <br> Founder & Owner
                </p>
            </div>
            <div class="book-table__form form">

            </div>
        </div>
    </div>
</section>