<!-- HEADER START -->
<header class="header">
    <div class="header__wrap">
        <div class="header__box">
            <div class="container">
                <div class="header__wellcome">
                    Wellcome To <span>restaurantBD.com</span>
                </div>
                <form class="heaer__box" action="" method="get">
                    <input name="s" placeholder="Quick Search" type="search">
                    <button type="submit">Поиск</button>
                  </form>
            </div>
        </div>
        <nav class="header__nav nav">
            <div class="container">
                <ul class="nav__wrap">
                    <li class="nav__link">
                        <a href="" class="nav__link">
                            Home
                        </a>
                    </li>
                    <li class="nav__link">
                        <a href="" class="nav__link">
                            About
                        </a>
                    </li>
                    <li class="nav__link">
                        <a href="" class="nav__link">
                            Page
                        </a>
                    </li>
                    <li class="nav__link">
                        <a href="" class="nav__link">
                            nav
                        </a>
                    </li>
                    <li class="nav__link">
                        <a href="" class="nav__link">
                            Gallery
                        </a>
                    </li>
                    <li class="nav__link">
                        <a href="" class="nav__link">
                            Blog 
                        </a>
                    </li>
                    <li class="nav__link">
                        <a href="" class="nav__link">
                            Shops 
                        </a>
                    </li>
                    <li class="nav__link">
                        <a href="" class="nav__link">
                            Contact
                        </a>
                    </li>
                </ul>
                <div class="nav__basket">

                </div>
                <a href="" class="nav_btn btn">Reservation</a>
            </div>
        </nav>
    </div>
    <div class="header__content">
        <div class="container">
            <div class="header__home">
                <h3 class="heaer_subtitle title">
                    RestaurantBD is the name of pure food
                </h3>
                <h1 class="header-title title">
                    We Provide 100% Pure & Healthy Food
                </h1>
                <p class="header__text">
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s.
                </p>
                <div class="header__info">
                    <a href="" class="header__btn btn">
                        About us
                    </a>
                    <a href="" class="header__btn btn">
                        See Menu
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- HEADER END -->