.header {
   background: url(../img/header/header-back.jpg);
   padding: 330px 0 235px;
   position: relative;

   &__wrap {
      line-height: 1.07em;
      position: absolute;
      top: 25px;
      width: 100%;
   }

   &__box {
      margin-bottom: 25px;
   }

   &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 130px;
   }

   &__wellcome {
      color: #fff;

   }

   &__wellcome span {
      color: #ff3a2d;
   }

   &__form {
       width: 200px;
   }

   &__form input {
      padding: 6px;
      font-size: 14px;
      border: 1px solid #bebdba;
      float: left;
      width: 80%;
      background: #bebdba;
      border-radius: 6px 0 0 6px;
      font-family: 'SourceSansPro', sans-serif;
      font-weight: 700;
   }
    
   &__form button {
      float: left;
      width: 20%;
      padding: 6px;
      background: #ff3a2d;
      color: white;
      font-size: 14px;
      border: 1px solid #ff3a2d;
      border-left: none; /* Prevent double borders */
      cursor: pointer;
      border-radius: 0 6px 6px 0;
   }

   &__delivery {
      color: #fff;
   }
    
   &__login {
      margin-right: 40px;
   }

   &__login span {
      margin-left: 10px;
   }

   &__content {
      text-align: center;
   }

   &__home {

   }

   &__subtitle {
      color:  #00c5d2;
   }

   &__title {
      color: #fff;
      font-size: 48px;
      font-weight: 700;
   }

   &__text {
      color: #fff;
      width: 800px;
      margin: 0 auto 60px;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.75em;
   }

   &__info {
      display: flex;
      width: 350px;
      justify-content: space-between;
      margin: 0 auto;
   }

   &__btn {
      width: 150px;
   }
}
.active {
   position: fixed;
   background: #000;
   width: 100%;
   top: 0;
   padding: 10px 0;
   z-index: 1;
   border-bottom: 3px solid #ff3a2d;
}

.nav {
   background: #fff;
   transition: padding .3s ease;

   &.active {
      .nav__img {
         bottom: -10px;
      }
   }

   &__menu {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;
   }

   &__img {
      position: absolute;
      bottom: 20px;
      left: 0;
      transition: .3s ease;
   }

   &__wrap {
      display: flex;
      justify-content: space-between;
   }

   &__item {
      padding: 10px 12px;
   }

   &__link {
      font-family: 'SourceSansPro', sans-serif;
      font-weight: 700;
      color: #222222;
      text-transform: uppercase;
      line-height: 1.07em;
   }

   &__link:hover {
      text-decoration: underline;
      color: #222222;
      transition: .3s ease;
   }

   &__basket {
      font-size: 20px;
      color: #222222;
      margin: 0 35px 0 15px;
      position: relative;

      span {
         background: #ff3a2d;
         top: -5px;
         right: -5px;
         font-size: 8px;
         font-family: 'Raleway', sans-serif;
         border-radius: 50%;
         color: #fff;
         position: absolute;
         width: 10px;
         height: 10px;
         text-align: center;
         margin: 0 auto;
         line-height: 1em;


      }
   }
   
   // &__basket:after {
   //    content: "";
   //    position: absolute;
   // }


   &__btn {
      color: #fff;
      font-family: 'SourceSansPro', sans-serif;
      text-transform: uppercase;
      font-size: 14px;
      padding: 5px 0;
      border-radius: 0 6px 0 6px;
      width: 120px;
      font-weight: 700;
      line-height: 1.07em;
   }

   &__btn:hover {
      color: #ff3a2d;
   }
}
