<header class="feedback block">
    <div class="container">
        <h3 class="feedback__subtitle">
            What Say Customer About Us
          </h3>
          <h2 class="feedback__title title">
            Customer Feedback
          </h2>
          <div class="feedback__slider">
            <div class="feedback__wrap">
              <div class="feedback__img">
                  <img src="../../img/feedback/photo.jpg" alt="customer">
              </div>
              <div class="feedback__box">
                  <span class="feedback__quote red"><i class="fas fa-quote-left"></i></span>
                  <p class="feedback__text">
                    Injected humour, or randomised words which don't look evethe Internet tend to repeat predefined sure there isn't on the Internet tend to repeat predefined chunks chunks as necessary, making this the first true generator o.
                  </p>
                  <p class="feedback__rating">
                    Personal Rating : <span class="red">9.4/10</span>
                  </p>
                  <p class="feedback__signature">
                    <span>Matthew T. Sloan</span> <br> Founder & Owner
                </p>
              </div>
            </div>

            <div class="feedback__wrap">
              <div class="feedback__img">
                  <img src="../../img/feedback/photo.jpg" alt="customer">
              </div>
              <div class="feedback__box">
                  <span class="feedback__quote red"><i class="fas fa-quote-left"></i></span>
                  <p class="feedback__text">
                    Injected humour, or randomised words which don't look evethe Internet tend to repeat predefined sure there isn't on the Internet tend to repeat predefined chunks chunks as necessary, making this the first true generator o.
                  </p>
                  <p class="feedback__rating">
                    Personal Rating : <span class="red">9.4/10</span>
                  </p>
                  <p class="feedback__signature">
                    <span>Matthew T. Sloan</span> <br> Founder & Owner
                </p>
              </div>
            </div>

            <div class="feedback__wrap">
              <div class="feedback__img">
                  <img src="../../img/feedback/photo.jpg" alt="customer">
              </div>
              <div class="feedback__box">
                  <span class="feedback__quote red"><i class="fas fa-quote-left"></i></span>
                  <p class="feedback__text">
                    Injected humour, or randomised words which don't look evethe Internet tend to repeat predefined sure there isn't on the Internet tend to repeat predefined chunks chunks as necessary, making this the first true generator o.
                  </p>
                  <p class="feedback__rating">
                    Personal Rating : <span class="red">9.4/10</span>
                  </p>
                  <p class="feedback__signature">
                    <span>Matthew T. Sloan</span> <br> Founder & Owner
                </p>
              </div>
            </div>
          </div>
    </div>
</header>